body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F1F1F1;
  font-family: 'Inter', sans-serif;
  left:0;
  color: #2b2b2b;
  /* height: 100vh; */
  /* overflow: hidden;   */
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*========================================================*/
/*Clean Scroll*/
/*========================================================*/
/* section{
  height: 100vh;
  float: left;
  scroll-snap-align: start;scroll-behavior: smooth;
  
}

.containerScroll{
  overflow: scroll;
  height: 100vh;
  float: left;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;

} */



/*========================================================*/
/*Navigation*/
/*========================================================*/

.navContainer{
  width: 100%;
  height: 100px;
  display: inline;
  top: 0;
}

.navContainer li:hover a,
li--active a {
  display: inline-block;
  position: relative;
}
.navContainer li:hover a:after,
li--active a:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 25px;
    left: 0;
    padding-bottom: 10px;
    background: url(./Assets/Images/scribble2.png);
    background-size: contain;
    background-position: 1px 20px;
    background-repeat: no-repeat;
}
.navContainer .active button{
  color: #F9A03F;
  font-weight: 700;
}

.list{
  padding-left: 500px;
}

.navContainer li{
  float: left;
  list-style: none;
  padding: 20px;
}

.navContainer button{
  background-color: none;
  outline: none;
  border: none;
}

.logo{
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  float: left;
  margin-right: 530px;
  font-size: 22px;
}

.first-header{
  height: 100vh;
  font-weight: bolder;
  width: 100%;
  float: left ;
  left: 0;
  margin-left: -10px;
  position: relative;
  margin-top: -80px;
  background-image: url(./Assets/Images/headerScribble.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
  
}

.first-header h1{
  font-weight: 900;
  font-size: 82px;
  float: left;
  margin-top: 250px;
  margin-left: 150px;
  
}

.headerImg img{
  margin-top: 165px;
  width: 33%;
  float: right;
  margin-right: 60px;
}

.physical{
  background-color: #F9A03F;
  width: 100%;
  padding: 0 5px;
  
}

.scribble{
  width: 100%;
  margin-top: 150px;
  margin-left: -550px;
  position: sticky;
}

.scribble img{
  width: 50%;
  position:static;
  z-index: -5;
  left:0;
  
}

.second-header{
  width: 109%;
  height: 100vh;
  /* background-color: #2b2b2b; */
  background-image: linear-gradient(rgba(51, 25, 3, 0.3),rgba(51, 25, 3, 0.3));
  float: left;
  position: relative;
  
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.second-header h1{
  margin-top: 100px;
  font-family: 'Inter', sans-serif;
 font-size: 120px;
 font-weight: 800;
 color: #F1F1F1;
}

.second-scribble{
  width: 50%;
  height: 100px;
  margin-top: -70px;
}

.content{
  /* border: 10px solid #F1F1F1; */
  padding:100px;
}
.backVideo{
  position: absolute;
  right:0;
  z-index: -1;
  margin-top: 100px;
  margin-left: 0px;
  height: 900px;

}
.third-header{
  /* float:left ;
  width: 100%;
  height: 100vh; */
}

/*===================================================*/
/*Slider*/

.card{
  height: 103vh;
  padding-top: 50px;
  
}

.card h1{
color: #cacaca;
margin-top: -35px;
font-size: 60px;
margin-bottom: 15px;
}

.image-of-shoe{
  width: 380px;
  margin-left: 32%;
  position: relative;
  z-index: -2;
}

.slider-container {
  width: 80%;
  height: 100%;
  
  /* Add this */
  position:fixed;
  top:0;
  left:0;
}  

.new-price{
  float: left;
  z-index: 2;
  margin-left: 330px;
  margin-bottom: -220px;
  position: absolute;
  font-size: 32px
  
}

.new-word{
  position: absolute;
  float: left;
  transform: rotate(-90deg);
  margin-top: 370px;
  margin-left: 260px;
  font-size: 32px
}

.buy-btn{
  background-color: none;
  border: none;
  outline: none;
  text-decoration: 3px underline #F9A03F;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  
}
.carousel .control-dots{
  margin-top: 10px;
}


/*=====================================================*/
/*Next Header*/

.info-header{
  width: 100%;
  /* height: 100vh; */
  /* height: 100vh; */
  float: left;
  padding-top: 100px;
  
}
.content-img img{
  width: 50%;
  float: left;
}
.content-text{
  width: 40%;
  height: 56.4%;
  float: left;
  background-color: #F1F1F1;
  padding: 50px;
  text-align: left;
  padding-top: 100px;

}

.content-text small{
 font-weight: 300;
}

.info-header.two{
  margin-top: -410px;
  width: 100%;
}

.info-header.two img{
 
  width: 100%;
}

.third-scribble{
  width: 620px;
  height:280px;
  margin-top: -70px;
  margin-left: -115px;
  position: absolute;
}
/*================================================*/
/*Fourth Header*/

.fourth-header{
  float: left;
  height: 100vh;
  width: 115ch;
  /* background-color: #787878; */
  padding-top: 0px;
  align-content: center;
  text-align: center;
  margin-top: -35px;
  /* background-image: url(./Assets/Images/shoes.jpg); */
  background-size: cover;
  
 
}

.fourth-header form{
   border: 7px solid #2b2b2b;
   width: 78%;
   margin-left:120px;
   height: 60%;
   margin-top: 120px;
   padding-bottom: 10px;
   background-color: #f1f1f1;
   
}

.fourth-header form h1{
  font-size: 50px;
  /* text-shadow: -5px 2px 0px rgba(249,160,63,0.82); */
  font-weight:800 ;
  text-transform: uppercase;
margin-bottom: 5px;
  text-align: center;
  margin-top: 50px;


}


.fourth-header form [type="text"]{
  width: 28%;
  height: 35px;
  border: none;
  /* margin-left: 25%; */
  padding: 5px;
  padding-left: 15px;
  margin-top: 15px;
}
.fourth-header form [type="submit"]{
  color: #F1F1F1;
  height: 45px;
  width: 90px;
  background-color: #2b2b2b;
  margin-bottom: 30px;
  cursor: pointer;
}
.fourth-header form [type="submit"]:hover{
  color: #F1F1F1;
  height: 45px;
  width: 90px;
  background-color: #F9A03F;
  border-color: #F9A03F;
  outline:none;
  
  
}


/*===========================================*/
/*footer*/
footer {
  background-color: #2b2b2b;
  padding: 50px 0 30px;
  float: left;
  width: 100%;
  display: inline;
  text-align: left;
  bottom: 0;
  
}
.site-footer
{
  background-color:#2b2b2b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  font-weight:400;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px;
 
}
.site-footer a
{
  color:#737373;
  
}
.site-footer a:hover
{
  color:#F9A03F;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373;
  text-decoration: none;
  font-weight: 300;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#F9A03F;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#2b2b2b
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  float: left;
  margin-bottom:0;
  list-style:none;
 margin-top: -30px;
 margin-left: 800px;
}
.social-icons li
{
  display:inline-block;
  margin-bottom:0px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:500;
  font-size:10px
}
.social-icons a{
  background-color:#F1F1F1;
  color:#F1F1F1;
  font-size:12px;
  text-align: center;
  display:inline-block;
  line-height:24px;
  width:34px;
  height:34px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear;
  padding: 2px;
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#F9A03F
}

.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#ea4c89
}
.social-icons a.dribbble:hover
{
  background-color:#4cea66
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.row-long{
  width: 50%;
  float: left;
  margin-left: 50px;
  text-align: left;
  padding: 20px;
}
.rowOne{
  width: 15%;
  float: left;
  padding: 20px;
}

.extend{
  float: left;
  margin-top: 10px;
  width: 100%;
  text-align: left;
  margin-left: 50px;
}

hr{
  width: 90%;
}



/*==========================================================*/
/*Shopping Page*/

.headerOne{
  width: 100%;
  height: 100vh;
}

.header-text{
  width: 10%;
  height: 100vh;
  float: left;
  
}

.header-text h1{
  font-weight: 900;
  font-size: 82px;
  float: left;
  margin-top: 185px;
  margin-left: -660px;
  text-align: left;
  z-index: 1;
}

.girlGroup{
  width: 68%;
  float: left;
  position: absolute;
  margin-left: -780px;
  margin-top: 60px;
  z-index: -2;
}

.highlight{
  background-color: #F9A03F;
  z-index: 2;
  padding: 0 5px;
  
}

.headerTwo{
  width: 100%;
  float: left;
  height: 35vh;
  margin-top: 35px;
  position: absolute;
  z-index: -3;
  /* background-image: linear-gradient(rgba(51, 25, 3, 0.3),rgba(51, 25, 3, 0.3),(url(./Assets/Images/girls.jpg))); */
  /* background-image: url(./Assets/Images/girls.jpg);
  background-size: cover; */
  background-color: #2b2b2b;
  color: #F1F1F1;
}

.headerTwo .girls{
  width: 100%;
}

.headerTwo h1{
  font-weight: 900;
  font-size: 82px;
  float: left;
  margin-left: 20%;
  margin-top: 60px;
  z-index: 1;
}

/*=============================================================*/
/*Product Cards*/
.headerThree{
  width: 100%;
  float: left;
  margin-top: 200px;
  padding: 50PX;
  background-color: rgb(250, 250, 250);
  
}
.productCard{
  width: 14%;
  height: 320px;
  padding: 0px 39PX;
  background-color: #F1F1F1;
  float: left;
  margin: 15px;
  text-align: left;
  cursor: pointer;
}

.contain-products{
  background-color: #ffffff;
  width: 100%;
  float: left;
  padding-left:  35px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.bin{
  float: right;
  margin-top: 0px;
  margin-left: 160px;
  position: absolute;
}
.bin:hover{
color: #F9A03F;
}

.adminCard .productCard{
  height: 410px;
  padding-top: 25px;

}

.adminCard .shoePrice{
  margin-top: -20px;
}

.adminCard .primary-btn, .admin-text .primary-btn{
  background-color: #2b2b2b;
  color: #f1f1f1;
  padding: 10px;
  width: 180px;
  margin-left: -8px;
  border: none;
  /* bottom:0; */
  
}

.adminCard .primary-btn:hover , .admin-text .primary-btn:hover{
  cursor: pointer;
  background-color: #F9A03F;
  
}



.productCard .cardShoe{
  width: 100%;
}

.productCard h4{
  font-size: 18px;
  margin-bottom: 0px;
  font-weight: 600;
}

.productCard h6{
  margin-top: 10px;
  font-size: 14px;
  font-weight: 300;
}

.hoverOption{
  background-color: #f99f3f73;
  
  width: 245px;
  height: 320px;
  margin-left: -40px;
  position: absolute;
  opacity: 0.0;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.hoverOption:hover{
  opacity: 1;
}

.cart{
  width: 50%;
  margin-top: 90px;
  margin-left: 65px;
}


/* <div className='headerThree'>
<div className='productCard'>
    <div className='productImg'>
        <img src={shoeOne} className="cardShoe"/>
    </div>
    <div className='shoeName'>
        <h4>Impala First Green</h4>
    </div>
    <div className='shoePrice'>
        <h6>R2500</h6>
    </div>
</div>
</div> */


/*==================================================*/
/*Header 4*/

.headerFour{
  float: left;
  width: 100%;
  height: 80vh;
}

/*=============================*/
/*Cart Page*/

.header{
  float: left;
  width: 100%;
  margin-left: -400px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.table table{
  width: 65%;
  margin-left: 50px;
  
}
.table th{
  color: #bababa;
  padding-bottom: 10px;
}

.table td{
  font-weight: 700;
}

.tableShoe{
  width: 50px;
}

.picRow{
  width: 50px;
}

.summary{
  width: 270px;
  background-color: #e6e6e6;
  height:350px;
  float: right;
  margin-top: -170px;
  margin-right: 50px;
}

.summary h2{
 padding: 10px;
 padding-left: 0;
 margin-left: -100px;
}

.summary table{
 margin: 20px;
 font-size: 14px;

}

.summary th{
  text-align: left;
  width: 80%;
  color: #939393;
  padding-bottom: 10px;
}

.summary td{
  text-align: right;
  font-weight: 700;
}

.summary button{
  background-color: #F9A03F;
  border: none;
  padding: 10px;
  color: #f1f1f1;
  width: 80%;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 20px;
}

.summary input{
  background-color: none;
  border: none;
  padding: 10px;
  width: 75%;
  border-bottom: 1px solid #737373;
  font-size: "Inter";
  background-color: #e6e6e6;
  color: #939393;
  font-size: 12px;
}

.cartScribble{
  position: absolute;
  width: 350px;
  height: 80px;
  margin-top: -83px;
  margin-left: -170px;
}

.body{
  height: 100vh;
}

/*=================================================*/
/*Login*/
.loginPage{
  height: 100vh;
  overflow:hidden;
}
.loginPic{
  width: 49%;
  top: 120px;
  float: left;
  margin-top: 5px;
  margin-left:-650px;
  position: fixed;
}

.login-text{
  width: 30%;
  height:600px;
  float: left;
  border: none;
  margin-top: 130px;
  margin-left:-1000px ;
  text-align: left;
}

.login-text form{
  border:none;
}

.login-text h1{
  font-weight: 900;
  margin-bottom: 50px;
  font-size: 40px;
}

.login-text input{
  width: 70%;
  background-color: #f1f1f1;
  border: none;
  border-bottom: 1px solid #717171;
  margin-bottom: 50px;
  margin-top: 15px;
  padding: 5px;
}
.login-text label{
  width: 100%;
  padding: 80px;
  padding-left: 0;
  font-size: 12px;

}

#login-submit{
  background-color: #F9A03F;
  padding: 10px;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  width: 75%;
  cursor: pointer;
}


/**/
.control-arrow::before,.control-arrow::after{
  
  color: #2b2b2b!important;
  
  border-color: #2b2b2b;

}

.carousel.carousel-slider .control-arrow:hover {
  background: rgba(0,0,0,0.0);
}


/*=============================================*/
/*Product Page*/

.productInfo-Head{
  height: 100vh;
}
.customDiv{
  float: left;
  width: 10%;
  height: 100vh;
  position: absolute;
  margin-left: 100px;
  margin-top: 170px;
}
.customDiv label{
  text-align: left;
  text-transform: uppercase;
  color: #939393;
  font-size: 12px;
  float: left;
  margin-bottom: 20px


}

.customDiv .labelOne{
  padding-right: 0px;
}

.customDiv select, .customDiv input {
  width: 45%;
  float: left;
  padding: 5px;
  margin: 10px;
  background-color: #F1F1F1;
  border-color: #939393;
}
.productBuyImg{
  float: left;
  width: 37%;
  position: absolute;
  margin-left: 250px;
  margin-top: 80px;

}
.buyImg{
  width: 100%;
}

.productBuyInfo{
  width: 30%;
  float: right;
  text-align: left;
  margin-right: 70px;
  margin-top: 55px;
}

.productBuyInfo h3{
  text-transform: uppercase;
  color: #b4b4b4;
  font-weight: 500;
}

.productBuyInfo h1{
  text-transform: uppercase;
  font-weight: 800;
  margin-top: -10px;
}
.productBuyInfo h4{
  font-size: 20px;
}

.primaryBtn{
  color: #F1F1F1;
  background-color: #F9A03F;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  width: 200px;
  cursor: pointer;
}

.primaryBtn.buy{
  margin-top: 30px;
  margin-bottom: 20px;

}
.productBuyInfo small{
  text-transform: uppercase;
  margin-right: 10px;
  text-decoration: underline;
  font-weight: 500;
  font-size: 12px;
}

.colorOp{
  height: 28px;
  width: 28px;
  margin: 5px;
  float: left;
  border-radius: 100px;
}

.colorOp.One{
  background-color: pink;
}

.colorOp.Two{
  background-color: rgb(116, 156, 116);
}

.colorOp.Three{
  background-color: rgb(140, 225, 236);
}

.backArrow{
  position: absolute;
  margin-left: -1100px;
  margin-top: 80px;
}

/*tabs*/

.furtherInfo-div{
  width: 100%;
  height: 50vh;
  margin-top: -70px;
}
.wrapper {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
}
.tabs {
  position: relative;
  margin: 3rem 0;
  background: #f1f1f1;
  height: 14.75rem;
}
.tabs::before,
.tabs::after {
  content: "";
  display: table;
}
.tabs::after {
  clear: both;
}
.tab {
  float: left;
}
.tab-switch {
  display: none;
}
.tab-label {
  position: relative;
  display: block;
  line-height: 2.75em;
  height: 3em;
  padding: 0 1.618em;
  background: #f1f1f1;
  border-right: 0.125rem solid #f1f1f1;
  color: #2b2b2b;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;
}
.tab-label:hover {
  top: -0.25rem;
  transition: top 0.25s;
}
.tab-content {
  height: 12rem;
  position: absolute;
  z-index: 1;
  top: 2.75em;
  left: 0;
  padding: 1.618rem;
  /* background: #fff; */
  color: #2b2b2b;
 
  opacity: 0;
  transition: all 0.35s;
}
.tab-switch:checked + .tab-label {
  /* background: #fff; */
  color: #F9A03F;

  border-bottom: 0.125rem solid #F9A03F;
  transition: all 0.35s;
  z-index: 1;
  top: -0.0625rem;
}
.tab-switch:checked + label + .tab-content {
  z-index: 2;
  opacity: 1;
  transition: all 0.35s;
  
}

/*Admin Page*/

.header-One.admin{
  width: 100%;
  float: left;
  height: 87vh;

}



/*add products*/

.opacityBg{
  width: 100%;
  height: 100vh;
  background: #2b2b2b83;
  float: left;
  position: fixed;
  margin-top: -20px;
}

.add-products form{
  width: 70%;
  /* height: 500px; */
  margin-top: 20px;
  margin-left: 150px;
  padding-bottom: 10px;
  background-color: #f1f1f1;
  border: 7px solid #2b2b2b;
  float: left;
  padding: 30px;
  position: fixed;
  margin-top: 29px;
  /* visibility: collapse; */


}

.addFormScrib{
  position: absolute;
  width: 500px;
  height: 100px;
  margin-top: -12px;
  margin-left: -250px;
}

.close{
  position: absolute;
  margin-left: 350px;
}

.close:hover{
  color: #F9A03F;
}

.col-One{
  width: 50%;
  float: left;
}
.col-Two{
  width: 30%;
  float: left;
  margin-left: 50px;
}

/* .contain-products{
  width: 60%;
  float: left;
  background-color: #2b2b2b;
  height: 100vh;
} */





.add-products label {

  font-weight: bold;
  width:100%;
  float: left;
  text-align: left;
  padding: 10px;
  font-size: 14px;

}

.add-products input, textarea{
  width: 100%;
  height: 35px;
  border: none;
  /* margin-left: 25%; */
  padding: 5px;
  padding-left: 15px;
  margin-top: 10px;
  font-family: 'Inter', sans-serif;

}

.add-products .color-option{
  float: left;
  width: 80px;
  margin: 5px;
}

.add-products .qty-option{
  float: left;
  width: 80px;
  margin: 5px;
}
.add-products  .option-label{
  width: 500px;
  float: left;
  text-align: left;
  
}

.col-Two h5{
  padding: 2px;
  margin: 0;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 500;
}


textarea{
  width: 413px;
  border: none;
  height:180px;
  margin-top: 10px;
}

.optionList{
  width: 500px;
}


.add-products h4{
  text-align: left;
  font-weight: 300;
  margin-bottom: 5px;
}

.add-products .half{
  width: 42%;
  margin-right: 10px;
}

.add-products .half.one{
  width: 160px;
  margin-right: 10px;
}

.add-products .half.check{
  height: 10px;
}

.vegan{
  width: 50px;
}

.vegan{
  /* width: 50px; */
  margin: 0;
  margin-top: 19px;
  margin-left: 10px;
}
.add-products input[type="checkbox"] { 
  width: 22px;
   margin-left: -190px;
   border: none;
   outline: none;
   padding: 0;
   border-radius: 0;
   margin-top: -55px;
   }

.add-products h1{
  margin-bottom: 2px;
  margin-top: 10px;
}

.add-products h3{
  margin-bottom: 5px;
  margin-top: -0px;
}

.add-products .primary-btn{
  color: #f1f1f1;
  background-color: #2b2b2b;
  border: none;
  padding: 12px;
  width: 320px;
  margin-top: 10px;
  margin-left: 15px
}

.add-products .primary-btn:hover{
  cursor: pointer;
  background-color: #F9A03F;
}

/*add product*/

.addBtn{
  position: fixed;
  margin-top: 80vh;
  margin-left: 108ch;
  border-color: #F9A03F;
  border: none;
  outline: none;
}

.addBtn button{
  background-color: #2b2b2b;
  color: #f1f1f1;
  border: none;
  outline: none;
  padding: 20px;
  z-index: 3;
}

.addBtn button:hover{
  background-color: #F9A03F;
  cursor: pointer;
}

/*admin header*/

.guy-header{
  width: 1110px;
  float: left;
  margin-left: -70px;
  margin-top: 40px;
}

.admin-text{
  float: left;
  margin-top: -540px;
  margin-left: 610px;
  text-align: left;
}

.admin-text h1{
  font-size: 58px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.admin-text h3{
  font-size: 16px;
  font-weight: 400;
  width: 350px;
  margin-top: 0px;
  margin-bottom: 20px;

}


/*update*/
.pop-up{
  width: 100%;
  height: 90vh;
  background-color: rgba(0,0,0,0.6);
  position:absolute;
  z-index: 99999;

  top: 0;
  left: 0;

}

.opacityBg.form{
  padding-top: 10px;
}

/*Image upload*/
.imgPrev{
  width: 100px;
  height: 100px;
  right:24px;
  border-radius: 5px;
  overflow: hidden;
  top: 75px;
  position: absolute;
  background-color: #f7f7f7;
}

.imgPrev img{
  width: 100%;
}

.prodImage{
  width: 200px;
  height: 200px;
}
